body {

    background-image: url('Imagenes/fondo.png');
    background-size: cover;
}
.principal {
    background-color: rgba(27, 25, 27, 0.35);
    height: 97px;
}

.logo {
    width: 173px;
    height: 56px;
    margin-top:20px;
    margin-left:30px;
}

.menu {
    width: 300px;
    text-align: center;
    background-color: rgba(59, 62, 95, 0.30);
    height: auto;
    vertical-align: central;
    margin: 0 auto 0 auto;
    margin-top: 50px;
}

.tablaUsr {
    width: 100%;
    margin-top: 5px;
}

.tablaDatos {
    width: 30%;
    height: 500px;
    text-align:center;
    margin-left:300px;
    padding-right:10px;
}

.columna1 {
    text-align: left;
    margin-left: 10px;
    width: 430px;
}

.celda01 {
    text-align: right;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-right:20px;
    padding-bottom:10px;
    padding-top:10px;
}

.celda02 {
    text-align: left;
    margin-left:10px;
}

.tablaAlta {
    width: 60%;
    margin: 0 auto 0 auto;
    text-align:center;
    vertical-align:central;

}

.celda1 {
    text-align: right;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height:initial;

}

.celda2 {
   
    text-align:left;

}

.elementoCelda{
    margin-left:10px;

}

.tabla {
    width:100%;
    height: 100%;
    text-align: center;
}

.fecha{
    display:none;
}

.button {
    text-align: left;
}


.login {
    margin-top:auto;
    width: 400px;
    height: 130px;
    margin: 0 auto;
    background-color: rgba(59, 62, 95, 0.25)  
}

.login-page {
    height: 100%;
    width: 100%;
    text-align: center;
    margin-top:100px;
}



