.body {
    /*background-image: url('Imagenes/fondo_optimized.png');
    background-size: cover;*/
}
.principal {
    background-color: rgba(27, 25, 27, 0.35);
}

.logo {
    width: 173px;
    height: 56px;
}

.formulario{
    text-align:center;

}

.celda1 {
    text-align: right;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height:initial;
}

.celda2 {
   
    text-align:left;

}

.elementoCelda{
    margin-left:10px;

}

.tabla {
    
    margin-left:auto;
    margin-right: auto;
    text-align: center;
    height: auto;
}

